.card {
  width: min(100%, 400px);
  height: 300px;
  background-color: var(--orangeDk);
  color: var(--primaryLt);
  font-weight: 500;
}
.cardDeck {
  padding: 2em;
  gap: 1em;
}
.cardDeck h2 {
  padding: 1em 0;
}
.cardDeck .statement {
  width: min(100%,600px);
  padding: min(15vh, 120px) 0;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 2.5em;
}
header {
  margin-top: 72px; /*size of nav*/
}
header h1 {
  padding: 1em 0 .2em;
}
header img {
  width: min(100%, 400px);
}
.hero {
  padding: 4em .5em;
}
.hero p {
  max-width: 700px;
  padding: 1em 0;
}
.hero button {
  margin-top: 2em;
  font-size: 20px;
}
.hero button:hover {
  background-color: var(--blueLt);
  border-color: var(--blueDk);
}

@media screen and (min-width: 1200px) {
  .card.leftSide {
    margin-right: 0;
  }
  .card.rightSide {
    margin-left: 0;
  }
  .cardDeck {
    column-gap: 60px;
  }
}

/*button size and style*/
.container {
    background-color: rgb(112, 167, 174);
    display: flex;
    flex-wrap: wrap;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    font-size: 14px;
    font-weight: bold;
    border: none;
    background-color: #f1f1f1;
    color: #333;
    cursor: pointer;
    margin: 10px;
  }
  
  /* Default button styling */
  button.btn,
  input[type="button"].btn,
  input[type="submit"].btn,
  input[type="reset"].btn {
    background-color: var(--blueDk);
    color: #fff;
    border-radius: 4px;
    border-color: rgb(36, 42, 79);
    border-style: solid;
    border-width: 2px;
    padding: 10px 20px; /* Default size */
  }
  
  /* Extra Small button */
  button.btn.btn-xs,
  input[type="button"].btn.btn-xs,
  input[type="submit"].btn.btn-xs,
  input[type="reset"].btn.btn-xs {
    padding: 5px 10px;
    font-size: 12px;
  }
  
  /* Small button */
  button.btn.btn-sm,
  input[type="button"].btn.btn-sm,
  input[type="submit"].btn.btn-sm,
  input[type="reset"].btn.btn-sm {
    padding: 8px 16px;
  }
  
  /* Large button */
  button.btn.btn-lg,
  input[type="button"].btn.btn-lg,
  input[type="submit"].btn.btn-lg,
  input[type="reset"].btn.btn-lg {
    padding: 14px 28px;
    font-size: 18px;
  }
  
  button.btn:hover,
  input[type="button"].btn:hover,
  input[type="submit"].btn:hover,
  input[type="reset"].btn:hover {
    background-color: var(--greenDk);
  }
  
  button.btn:active,
  input[type="button"].btn:active,
  input[type="submit"].btn:active,
  input[type="reset"].btn:active {
    background-color: var(--orangeLt);
  }

/* Paragraph Styles */
.paragraph {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .paragraph.normal {
    color: #333;
  }
  
  .paragraph.highlight {
    color: #EA7600;
    font-weight: bold;
    font-size: larger;
  }
  
  .paragraph.important {
    color: #B40B08;
    text-transform: uppercase;
    font-size: 18px;
  }
  
  /* Headings H1-H6 */
 .heading {
  font-family: serif;
  color: var(--blueDk);
  margin: 1rem 0;
      }

/*MENUE TABLES*/
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: var(--primaryLt2);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: var(--primaryLt);
}

.table-bordered th,
.table-bordered td {
  border: 1px solid var(--primaryDk);
}

.table-bordered th {
  background-color: var(--primaryDkr);
  color: var(--primaryLt);
}
